
<ion-content>

  <img src="../../../assets/imgs/picture-1.jpg" alt="welcome" class="ion-margin-bottom welcome-image">

  <ion-grid>

    <ion-col size="12">
      <img src="../../../assets/imgs/logo.png" alt="logo" class="logo-image ion-margin-bottom">
    </ion-col>

    <ion-col size="12" class="ion-padding ion-margin ion-text-uppercase">
      <p>VIPFANS es el nuevo sistema para crear books con tus recuerdos de Instagram</p>
    </ion-col>

    <ion-col size="12" class="ion-padding ion-margin">
      <ion-button color="primary" expand="block"
                  routerLink="/albums/albums" routerLinkActive="active">
        Comenzar
      </ion-button>
    </ion-col>

  </ion-grid>

</ion-content>
