
<ion-content>

  <ion-title class="ion-margin ion-text-uppercase ion-text-center">
    Productos
  </ion-title>

  <ion-grid>

    <ion-row>
      <ion-col size="6">
        <img src="../../../assets/imgs/picture-2.jpg" alt="picture-2"
                                                      class="album-image ion-margin-bottom"
                                                      routerLink="/albums/photo-book" routerLinkActive="active">
        <p class="ion-text-uppercase ion-text-center">Photo Book</p>
        <p class="description">Perfecto para vacaciones, eventos u ocaciones especiales.</p>
      </ion-col>

      <ion-col size="6">
        <img src="../../../assets/imgs/picture-3.jpg" alt="picture-3"
                                                      class="album-image ion-margin-bottom"
                                                      routerLink="/albums/cards" routerLinkActive="active">
        <p class="ion-text-uppercase ion-text-center">Cards</p>
        <p class="description">Invitaciones, felicitaciones y todo lo que te imagines.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <img src="../../../assets/imgs/picture-4.jpg" alt="picture-4"
                                                      class="album-image ion-margin-bottom"
                                                      routerLink="/albums/custom-prints" routerLinkActive="active">
        <p class="ion-text-uppercase ion-text-center">Custom Prints</p>
        <p class="description">Agregue fotos de multiples fuentes: Instagram, Facebook, Google Photos o desde el carrete de su teléfono.</p>
      </ion-col>

      <ion-col size="6">
        <img src="../../../assets/imgs/picture-5.jpg" alt="picture-5"
                                                      class="album-image ion-margin-bottom"
                                                      routerLink="/albums/minis" routerLinkActive="active">
        <p class="ion-text-uppercase ion-text-center">Minis</p>
        <p class="description">30 fótos mensuales para tener un mini albúm de 30x30 al mes.</p>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color="white">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon name="home" size="large" class="ion-padding-horizontal
                                             ion-margin-horizontal"
                                             routerLink="/welcome" routerLinkActive="active">
          </ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="person" size="large" class="ion-padding-horizontal ion-margin-horizontal"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="cart" size="large" class="ion-padding-horizontal ion-margin-horizontal"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
